---
layout: default
---

{% if page.lang %}
<div class="post" lang="{{page.lang}}">
{% else %}
<div class="post">
{% endif %}
	<div class="post-head">
		<h1>
			{{ page.title }}
		</h1>
		<span class="date">{{ page.date | date_to_string }}</span>
		{% if page.author %}
		<span class="author">, {{ page.author }}</span>
		{% endif %}
	</div>
  {{ content }}

  {% if page.tags.size > 0 %}
  <hr class="w50">
  <span class="tags">
	  Tags:&nbsp;
	  {% for tag in page.tags %}
		{% capture tag_name %}{{ tag }}{% endcapture %}
		<a class="no-underline" href="/tags/#{{ tag_name }}">
			#{{ tag_name }}
		</a>
		{% unless forloop.last %},&nbsp;{% endunless %}
	  {% endfor %}
  </span>
  {% endif %}
</div>
